<div>
  <!--Navigation (sidenav?)-->

  <!--Search / Toolbar-->
  <mat-toolbar color="primary">
    <div id="flexContainer"> <!--REVERSED FLEX-DIRECTION-->
        <!--views/tools-->
        <span *ngFor="let toolbarButton of toolbarButtons; let i = index"> <!--Encapsulate button and mat-menu in componenet-->
          <button mat-button matTooltip="{{toolbarButton.tooltip}}" [matMenuTriggerFor]="menu">
            <mat-icon color="accent">{{toolbarButton.icon}}</mat-icon>
          </button>
          <mat-menu #menu="matMenu" *ngIf="toolbarButton.menu">
            <button mat-menu-item>{{toolbarButton.tooltip}}</button>
          </mat-menu>
        </span>
        <!--Search bar-->
        <form>
          <mat-form-field>
              <input matInput placeholder="Search">
          </mat-form-field>

          <button type="submit" mat-button><mat-icon>search</mat-icon></button>
        </form>
    </div>
  </mat-toolbar>
</div>
