@import '~@angular/material/theming';
@import '../../../custom-theme.scss';


@mixin angular-material-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  mat-toolbar{
    background-color: mat-color($primary);
    color: white;
    height: auto;
    width: 100%;

    display: flex;
    align-items: center;
  }
  mat-divider{
    background-color: mat-color($accent);
  }
  a{
    margin-left: 5px;
  }
  mat-list{
    margin: 20px; /*Lists start from the left and flex flow to the right*/
    /*margin: auto*/ /*Space is evenly divided between the lists */
  }
  #listContainer{
    width: 100%;
    display: flex;
  }
}

@include angular-material-theme($vault-theme);
