@import '~@angular/material/theming';
@import '../../../custom-theme.scss';


@mixin angular-material-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  mat-icon{
    color: mat-color($primary);
    margin-inline-end: 10px;
  }
  a{
    width: 100%;
  }
  mat-nav-list{
    padding: 0px;
  }
  mat-list-item-content, mat-expansion-panel-body{ /*Not working but need to remove padding of these elements*/
    padding: 0px;
  }

  h3{
    color: mat-color($primary);
    padding: 0px;
    padding-top: 10px;
    margin: 0px;
    margin-left: 5px;
  }
}


@include angular-material-theme($vault-theme);
