<!--<mat-menu #menu="matMenu" *ngIf="this.Menu">
  <button mat-menu-item>{{this.Tooltip}}</button>
</mat-menu>-->
<button mat-button matTooltip="{{this.Tooltip}}" [matMenuTriggerFor]="menu">
  <mat-icon color="accent">{{this.Icon}}</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <!--<button mat-button *ngFor="let typeMenuItem of this.TypeMenu" style="width: 100%">
    <mat-icon color="primary">{{typeMenuItem.icon}}</mat-icon>
    {{typeMenuItem.text | titlecase}}
  </button>-->
  <mat-button-toggle-group #typeGroup="matButtonToggleGroup" [vertical]="true" *ngIf="this.TypeMenu">
<mat-button-toggle *ngFor="let typeMenuItem of this.TypeMenu">
    <mat-icon color="primary">{{typeMenuItem.icon}}</mat-icon>
    {{typeMenuItem.text | titlecase}}
</mat-button-toggle>
  </mat-button-toggle-group>
  <br *ngIf="this.DirectionMenu"/>
  <mat-button-toggle-group #directionGroup="matButtonToggleGroup" [vertical]="true" *ngIf="this.DirectionMenu">
<mat-button-toggle *ngFor="let directionMenuItem of this.DirectionMenu" value="toggleMenuItem.value">
  <mat-icon color="primary">{{directionMenuItem.icon}}</mat-icon>
  {{directionMenuItem.text | titlecase}}
</mat-button-toggle>
  </mat-button-toggle-group>
</mat-menu>
