<!--Sidenav-->
<mat-sidenav-container [hasBackdrop]="true">
  <mat-sidenav #sidenav mode="over" > <!--[opened]="!(deviceService.isMobile())"-->
    <!--Toolbar-->
    <app-page-toolbar [sidenav]="sidenav">{{errorCode}}</app-page-toolbar>
  </mat-sidenav>
  <!-- Body -->
  <mat-sidenav-content>
    <!--Toolbar-->
    <app-page-toolbar [sidenav]="sidenav"></app-page-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<!--Footer-->
<app-page-footer></app-page-footer>
