@import '~@angular/material/theming';
@import '../../../../custom-theme.scss';


@mixin angular-material-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  div{
  }
  span{
    display: inline-block;
    color: mat-color($warn);
    line-height: 36px;
  }
  button{
    float: right;
    padding: 0px;
    height: 36px;
  }
}
@include angular-material-theme($vault-theme);
