<div id="flexContainer">
  <div id="loginForm">
    <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Email" formControlName="emailFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="loginFormGroup.hasError('email', ['emailFormControl']) && !loginFormGroup.hasError('required', ['emailFormControl'])">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="loginFormGroup.hasError('required', ['emailFormControl'])">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Password" formControlName="passwordFormControl">
      </mat-form-field>
      <br>
      <span>{{errorMessage | async}}</span>
      <button mat-button id="submit" type="submit" color="accent">Log In</button>
    </form>
  </div>
</div>
