<div>
  <!--Search / Toolbar-->
  <mat-toolbar color="primary">
    <div id="flexContainer"> <!--REVERSED FLEX-DIRECTION-->
        <!--views/tools-->
        <span *ngFor="let toolbarButton of toolbarButtons"> <!--Encapsulate button and mat-menu in componenet-->
            <app-toolbar-button [toolbarButton]="toolbarButton"></app-toolbar-button>
        </span>
        <!--Search bar-->
        <form [formGroup]="searchFormGroup" (ngSubmit)="onSubmit()">
          <mat-form-field>
              <input matInput id="inputSearch" placeholder="Search" formControlName="inputSearch" (keydown)="onKeydown($event)">
          </mat-form-field>
          <button type="submit" id="submitSearch" mat-button><mat-icon>search</mat-icon></button>
        </form>
    </div>
  </mat-toolbar>
  <!--Navigation (sidenav?)-->

  <!--Directory contents-->
  <div id="fileContainer">
    <app-file-card *ngFor="let file of Files | async" [file]="file"></app-file-card>
  </div>
</div>
